*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  

}
.global-button {
  background-color: transparent;
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 0.375rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.global-button2 {
  background-color: #b19667;
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 0.375rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.global-button:hover {
  background-color: white;
  color: black;

}
